{% extends 'blog_vista/padre.html' %}
{% load static %}
{% block about %}


<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Somos un grupo de entusiastas de la ciencia, que valoramos la evidencia y luchamos con la desinformación. </p>
                <p>Queremos captar tu atención con información real, que tenga respaldo avalado por las organizaciones de divulgación científica más importantes.</p>
                <p>También queremos saber que tenes para aportar al mundo de la ciencia, contactanos, envianos tus articulos!</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}