{% extends 'blog_vista/padre.html' %}
{% load static %}

{% block astronomia %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{astronomia.titulo}}</title>
</head>
    <body>
        <img src="{{ Astronomía.imagen.url }}" alt="">
        <p>Titulo: <i>{{ astronomia.titulo }}</i></p>
        <p>Subtitulo: <i>{{ astronomia.subtitulo }}</i></p>
        <p>Autor: <i>{{ astronomia.autor }}</i></p>
        <p>Fecha: <i>{{ astronomia.fecha }}</i></p>
        <p>Texto: <i>{{ astronomia.texto }}</i></p>
        
        <p>
            <a class="btn btn-primary" href="{% url 'AstronomiaList' %}">Regresar</a>
        </p>
    </body>
</html>

{%endblock%}